source "https://rubygems.org"

gem "rack-contrib"

gem "middleman", "~><%= Middleman::VERSION %>"
gem "middleman-sprockets"
gem "middleman-ember"
gem "middleman-livereload"
gem "ember-source"
gem "handlebars-source"
gem "ember-data-source"
