source "https://rubygems.org"

gem "rack-contrib"

gem "middleman", "~><%= Middleman::VERSION %>"
gem "sprockets-handlebars_template", :require => "sprockets/ember_handlebars_template"
gem "middleman-livereload"
gem "ember-source"
gem "handlebars-source"
gem "ember-data-source"
