source "https://rubygems.org"

gem "rack-contrib"

gem "middleman", "~><%= Middleman::VERSION %>"
gem "sprockets-handlebars_template", :require => "sprockets/ember_handlebars_template"
gem "middleman-livereload"
gem "ember-source"
gem "handlebars-source", "1.0.0.rc3"
gem "ember-data-source"
